* {
    margin: 0;
    padding: 0;
  }
.navbar{
    position: relative;
}
.navbar-brand {
    font-family: viga;
    font-size: 32px;
}

/* utility */
.tombol1{
  text-transform: uppercase;
  border-radius: 40px;
  background-color: #F1166D;
}
.tombol2{
  text-transform: uppercase;
  border-radius: 40px;
  background-color: #5191E3;
  margin-top: 10px;
}
  body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-image:url(../img/thought-catalog-505eectW54k-unsplash.jpg);
    background-size: cover;
    height: 100vh;
  }
.card{
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  font-family: viga;
  justify-content:center;
}
.cardbutton{
  margin-left: 10px;
  margin-top: 10px;
}
.yutub{
  width: 400px;
}
.yutub video{
  width: 350px;
}
.yutub iframe{
  width:350px;
  height:200px;
}
@media (min-width: 1080px) {
  .tombol2{
    text-transform: uppercase;
    border-radius: 40px;
    background-color: #5191E3;
    margin-top: auto;
    margin-left: 10px;
  }
  .bg-dark{
    background-color: transparent !important;
}
.navbar-brand, .nav-link{
  color: white !important;
  text-shadow: 1px 1px 1px rgba(0,0,0,1);
}
.nav-link{
  text-transform: uppercase;
  margin-right: 30px;
}
.nav-link:hover::after{
content: '';
display: block;
border-bottom: 3px solid #5191E3;
width: 50%;
margin: auto;
padding-bottom: 5px;
margin-bottom: -8px;
}
  .nav-link{
    text-transform: uppercase;
    margin-right: 30px;
    }

    .cardbutton{
      margin-left: -570px;
      margin-top: 540px;
    }
 .yutub{
  width: 683px;
 }
 .yutub iframe{
  width:683px;
  height:384px;
}
}
@media (min-width: 768px) and (max-width: 991.98px) { 
  .cardbutton{
    margin-left: -370px;
    margin-top: 380px;
 }

 }
  

